lichess-bot
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
compile_commands.json
build/
utils/
deploy/
create_value_tables/build/
create_value_tables/create_value_tables
value_tables.hpp
misc/*
logs/*
books/*
scripts/*
bugs/*
releases/*
linux/
profiling/
.DS_Store
.vscode
.cache
.state
gmon.out
syzygy/
